/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* 
 #212121;
 #FFFFFF;
 #757575;
 #2196F3;  logo
 #000000;  logo
  */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
 }
 ul { list-style: none; }
.contakt-item,
.adr-list {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
}
.contakt-item :hover,
.adr-list :hover {
  color: #2196f3;
}
.header-logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
}
.logo-color {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.nav-link,
.item-mail,
.item-tel {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-link-studia,.nav-link-portfolio {
  color: #2196f3;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;S
}
.hero {
  background: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.footer {
  background-color: #2f303a;
}
.color-studio {
  color: #ffffff;
}

.footer-nav-link {
  color: #ffffff;
}
.footer-link-mail,
.footer-link-tel {
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

<!-- секция портфолио -- > 
.portf-btn-list {
    background-color: 
    #F5F4FA;
    border-radius: 4px;;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
          text-align: center;
    letter-spacing: 0.03em;
        color: #212121;
    

.btn-item {
  cursor: pointer;
}
.btn-activ {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
}
.portfolio-title {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-item {
      font-size: 16px;
    line-height: 1.9;
         letter-spacing: 0.03em;
        color: #757575;
      }
