:root {
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --primary-black-color: #434455;
  --titlt-black-color: #2e2f42;
  --background-color: #ffffff;
  --background-futer-hero: #2e2f42;
  --button-color: #4d5ae5;
  --hover-link-color: #404bbf;
}
body {
  font-family: var(--primary-font);
  color: var(--primary-black-color);
  font-size: 16px;
  background-color: var(--background-color);
  line-height: 1.5;
  list-style: none;
}
.title {
  letter-spacing: 0.02em;
  color: var(--titlt-black-color);
}
.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
}
/**
  |============================
  | header
  |============================
*/
.header {
  background-color: var(--backgraund-heder-color);
}
.header-nav {
  background-color: var(--background-color);
}
.link-logo-header {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}
.header-logo {
  color: #4d5ae5;
}
.header-list {
}
.header-item {
}
.header-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-decoration: none;
}
.header-link:hover,
.header-link:focus {
  color: var(--hover-link-color);
}
.adr {
}
.adr-list {
}
.adr-item {
}
.adr-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: #434455;
  text-decoration: none;
}
.adr-link:hover,
.adr-link:focus {
  color: var(--hover-link-color);
}

/**
  |============================
  | main
  |============================
*/
/**
  |============================
  | Effective Solutions for Your Business
  |============================
*/
.section-solutions {
  background-color: var(--background-futer-hero);
}
.title-solutions {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}
.btn {
  background-color: var(--button-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #ffffff;
}
.btn:hover,
.btn:focus {
  background-color: var(--hover-link-color);
}

/**
  |============================
  | advantages
  |============================
*/
.section-advantages {
}
.list-advantages {
}
.advantages-item {
}
.advantages-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.advantages-text {
}
/**
  |============================
  | What are we doing
  |============================
*/
.section-waw {
}
.waw-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 1;
  text-align: center;
  text-transform: capitalize;
}
.list-waw {
}
.waw-img {
}
/**
  |============================
  | Our Team
  |============================
*/
.team-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
}
.list-team {
}
.team-item {
}
.team-name {
}
.team-text {
}
/**
  |============================
  | footer
  |============================
*/
.footer {
  background-color: var(--background-futer-hero);
}
.link-logo-futer {
  font-family: var(--logo-font);
  width: 44px;
  height: 21px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.footer-logo {
  color: #f4f4fd;
}
.footer-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #f4f4fd;
}
/**
  |============================
  | portfolio
  |============================
*/
.main-portfolio {
}
.filters {
}
.list-filters {
}
.item-btn {
}
.view-btn {
  background-color: #f4f4fd;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--button-color);
}
.view-btn:hover,
.view-btn:focus {
  background-color: var(--hover-link-color);
  color: var(--background-color);
  cursor: pointer;
}
.item-row {
}
.list-row .link img {
}
.row-title {
}
.row-text {
}
